<a href="https://colab.research.google.com/github/jjk190427/python_programming/blob/main/Exercise_1_(Types)_Your_First_Program_2022119944_%EA%B9%80%EC%9E%AC%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3 id="exercise">Exercise 1 (Types): Your First Program 2022119944 김재정</h3>

<p>Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.</p>
<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

In [33]:
# Write your code below and press Shift+Enter to execute
print("Hello, world!")

Hello, world!

Double-click __here__ for the solution.

<!-- Your answer is below:

print("Hello, world!")

-->

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [32]:
# Write your code below and press Shift+Enter to execute
print("Hello, world!") # Print the traditional hello world

Hello, world!

Double-click __here__ for the solution.

<!-- Your answer is below:

print("Hello, world!") # Print the traditional hello world

-->

<hr>

<h3 id="exercise">Exercise 2 (Types): Get the object type 2022119944 김재정</h3>

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [31]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float



```
# 코드로 형식 지정됨
```

Double-click __here__ for the solution.

<!-- Your answer is below:

type(12.0)

-->

<h3 id="exer_type">Exercise 3 (Types): Types 2022119944 김재정</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [30]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

Double-click __here__ for the solution.

<!-- Your answer is below:
type(6/2) # float
-->

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [29]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

int

Double-click __here__ for the solution.

<!-- Your answer is below:
type(6//2) # int, as the double slashes stand for integer division
-->

<hr>

<h3 id="exer_exp">Exercise 4 (Types): Expression 2022119944 김재정</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [28]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

2.6666666666666665

Double-click __here__ for the solution.

<!-- Your answer is below:
160/60
# Or
160//60
-->

<h3 id="exer_exp_var">Exercise 5 (Types): Expression and Variables in Python 2022119944 김재정</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [25]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2
print(x)

7

Double-click __here__ for the solution.

<!-- Your answer is below:
7
-->

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [26]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2
print(y)

10

Double-click __here__ for the solution.

<!-- Your answer is below:
10
-->

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [27]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
print(z)

17

Double-click __here__ for the solution.

<!-- Your answer is below:
17
-->

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python. However, there is one more thing you need to do. The Data Science community encourages sharing work. The best way to share and showcase your work is to share it on GitHub. By sharing your notebook on GitHub you are not only building your reputation with fellow data scientists, but you can also show it off when applying for a job. Even though this was your first piece of work, it is never too early to start building good habits. Please submit all your exercises to Github & let the traces in our LMS, so for me to access your work.
<hr>

<hr>
<p>Copyright &copy; 2023 RYU HOKYOUNG based on 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>